# Root-level files
package*
pnpm*

# Node.js
node_modules/**

# Build output
dist/**

# Test coverage
coverage/**

# Editor/IDE settings
.git/**
.vscode/**
.idea/**

# Minified files
*.min.*

# Misc
CHANGELOG.md